<!DOCTYPE html>
<html>
<head>
    <title>Google OAuth</title>
</head>
<body>
    <a href="/auth/google">Login with Google</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    
</body>
</html>
