<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
</head>
<body>
    <h2>Password Reset</h2>
    <form action="/passreset" method="POST">
        <label for="otp">OTP:</label><br>
        <input type="text" id="otp" name="otp" required><br>
        <label for="password">New Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>